body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1.7em;
   background-color: #d1eaff;
 }

.image{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 70px;
   border-radius: 50%;
   height: 200px;
   width: 200px;
}

.bio{
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   font-size: 32px;
   font-weight: bold;
   color: black;
   text-align: center;
   padding: 35px;
}


.text{
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   font-size: 20px;
   color: black;
   text-align: center;
   padding: 30px;
}

.img-contact{
   margin: 5px;
   height: 60px;
   width: 60px;
 }