{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<meta http-equiv="pragma" content="no-cache" />
<title>Abi Fajri Abdillah</title>

<body>
    <img src="{% static 'assets/image01.jpg' %}" alt="me" class="image">
    <div class="bio">
        Abi Fajri Abdillah
        <br> CSUI18 - 1806205590 <br><br>
        <a href="https://www.linkedin.com/in/abi-fajri-abdillah-989088176/" ><img class="img-contact" src="{% static 'assets/linkedin.png' %}"></a>
        <a href="http://facebook.com/abi.f.abdillah" ><img class="img-contact" src="{% static 'assets/fb.png' %}"></a>
        <a href="https://gitlab.com/abifajri" ><img class="img-contact" src="{% static 'assets/git.png' %}"></a>
        <a href="http://instagram.com/abifajri_" ><img class="img-contact" src="{% static 'assets/ig.png' %}"></a>
    </div>
    <hr>
    <div class="text">
        Hal-hal asing pada dunia yang fana ini tidaklah dapat menjadi pembeda antara aku dan engkau.
        <br> Jangan mulut yang berbicara, biarkan burung-burung terbang mengikuti kepakan sayap mereka.
        <br><br>
        "Whatever you do, you do." - Abi
    </div>
    <hr>
</body>
</html>
